/*第二页*/

.slide_Two {
	background-color: #fff
}
.slide_TwoBox {
	width: 800px;
	height: 500px;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.slide_TwoBox .dspInayA {
	margin-top: 10px;
}
.slide_TwoBox .dspInayB {
	color: #ea5413;
	font-size: 24px;
}
.slide_TwoBox .dspInayC {
	width: 514px;
	height: 410px;
	margin-top: 10px;
	background: url(../img/we13.png) no-repeat 40px 32px;
	position: relative;
	overflow: hidden;
}
.slide_TwoBox .dspInayC .dspInayC_icon1 {
	width: 300px;
	height: 195px;
	background: url(../img/we14.png) no-repeat 0px -230px;
	position: absolute;
	bottom: 0px;
	left: 87.5px;
	z-index: 5;
}
.slide_TwoBox .dspInayC .dspInayC_icon1 .dspInayC_icon2 {
	display: inline-block;
	width: 110px;
	height: 90px;
	position: absolute;
	bottom: 39px;
	left: 44.5px;
    padding-top: 32px;
    box-sizing: border-box;
}
.slide_TwoBox .dspInayC .dspInayC_icon1 .dspInayC_icon2 li{
    height: 20px;
    position: relative;
}
.slide_TwoBox .dspInayC .dspInayC_icon1 .dspInayC_icon2 li:before{
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    border-radius: 6px;
    background:#E7405A; /* 一些不支持背景渐变的浏览器 */
    background:-moz-linear-gradient(left, rgba(0,0,0,0), #E7405A);
    background:-webkit-gradient(linear, left 0, right 0, from(rgba(0,0,0,0)), to(#E7405A));
    background:-o-linear-gradient(left, rgba(0,0,0,0), #E7405A);
    position: absolute;
    bottom: 0px;
    left: -4px;
    transform-origin: right;
    transform: rotate(30deg);
}
.slide_TwoBox .dspInayC .dspInayC_icon1 .dspInayC_icon2 li:after{
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    border-radius: 6px;
    background:#E7405A; /* 一些不支持背景渐变的浏览器 */
    background:-moz-linear-gradient(left, rgba(0,0,0,0), #E7405A);
    background:-webkit-gradient(linear, right 0, left 0, from(rgba(0,0,0,0)), to(#E7405A));
    background:-o-linear-gradient(left, rgba(0,0,0,0), #E7405A);
    position: absolute;
    bottom: 0px;
    right: -3px;
    transform-origin: left;
    transform: rotate(-30deg);
}

.slide_TwoBox .dspInayC .dspInayC_left {
	width: 120px;
	height: 220px;
	position: absolute;
	top: 27px;
	left: 58px;
}
.slide_TwoBox .dspInayC .dspInayC_left i {
	display: inline-block;
	width: 80px;
	height: 90px;
}
.slide_TwoBox .dspInayC .dspInayC_left .dspInayC_left1 {
	position: absolute;
	top: -115px;
	left: 0px;
	background: url(../img/we14.png) no-repeat -182px 0px;
}
.slide_TwoBox .dspInayC .dspInayC_left .dspInayC_left2 {
	position: absolute;
	top: -115px;
	left: 38px;
	background: url(../img/we14.png) no-repeat -97px -116px;
}
.slide_TwoBox .dspInayC .dspInayC_left .dspInayC_left3 {
	position: absolute;
	top: -115px;
	left: 38px;
	background: url(../img/we14.png) no-repeat -195px -114px;
}
.slide_TwoBox .dspInayC .dspInayC_center {
	width: 120px;
	height: 180px;
	position: absolute;
	top: 47px;
	left: 210px;
}
.slide_TwoBox .dspInayC .dspInayC_center i {
	display: inline-block;
	width: 80px;
	height: 90px;
}
.slide_TwoBox .dspInayC .dspInayC_center .dspInayC_center1 {
	position: absolute;
	top: -140px;
	left: 0px;
	background: url(../img/we14.png) no-repeat -295px -110px;
}
.slide_TwoBox .dspInayC .dspInayC_center .dspInayC_center2 {
	position: absolute;
	top: -140px;
	left: 38px;
	background: url(../img/we14.png) no-repeat -296px 2px;
}
.slide_TwoBox .dspInayC .dspInayC_right {
	width: 160px;
	height: 220px;
	position: absolute;
	top: 47px;
	left: 335px;
}
.slide_TwoBox .dspInayC .dspInayC_right i {
	display: inline-block;
	width: 80px;
	height: 90px;
}
.slide_TwoBox .dspInayC .dspInayC_right .dspInayC_right1 {
	position: absolute;
	top: -140px;
	left: 0px;
	background: url(../img/we14.png) no-repeat -84px 20px;
}
.slide_TwoBox .dspInayC .dspInayC_right .dspInayC_right2 {
	position: absolute;
	top: -140px;
	left: 48px;
	background: url(../img/we14.png) no-repeat 2px -95px;
}
.slide_TwoBox .dspInayC .dspInayC_right .dspInayC_right3 {
	position: absolute;
	top: -140px;
	left: 38px;
	background: url(../img/we14.png) no-repeat 3px -1px;
}
/*第三页*/

.slide_Three {
	background-color: #f2f0f0;
}
.slide_ThreeBox {
	width: 1010px;
	height: 540px;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.slide_ThreeBox .dspAppA {
	color: #e94b59;
	margin-top: 50px;
}
.slide_ThreeBox .dspAppB {
	width: 1005px;
	height: 380px;
	margin-top: 15px;
}
.slide_ThreeBox .dspAppB i {
	float: left;
	width: 86px;
	height: 85px;
	margin: 20px 14px 20px 0px;
	border-radius: 10px;
	opacity: 1;
	filter: alpha(opacity=100);
    font-style: normal;
    color: #FFFFFF;
    font-size: 24px;
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
    font-family: fantasy;
}
.slide_ThreeBox .dspAppB .dspAppB-icon1 {
    background: #2a8bcc!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#3b98d6),to(#197ec1))!important;
    background-image: -webkit-linear-gradient(top,#3b98d6 0% , #197ec1 100%)!important;
    background-image: -moz-linear-gradient(top,#3b98d6 0,#197ec1 100%)!important;
    background-image: linear-gradient(to bottom,#3b98d6 0,#197ec1 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b98d6',endColorstr='#ff197ec1',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon2 {
    background: #fd5f01!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#ff971c),to(#fd5f01))!important;
    background-image: -webkit-linear-gradient(top,#ff971c 0% , #fd5f01 100%)!important;
    background-image: -moz-linear-gradient(top,#ff971c 0,#fd5f01 100%)!important;
    background-image: linear-gradient(to bottom,#ff971c 0,#fd5f01 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff971c',endColorstr='#fffd5f01',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon3 {
    background: #86b558!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#8ebf60),to(#7daa50))!important;
    background-image: -webkit-linear-gradient(top,#8ebf60 0%,#7daa50 100%)!important;
    background-image: -moz-linear-gradient(top,#8ebf60 0,#7daa50 100%)!important;
    background-image: linear-gradient(to bottom,#8ebf60 0,#7daa50 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ebf60',endColorstr='#ff7daa50',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon4 {
    background: #d3413b!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#d55b52),to(#d12723))!important;
    background-image: -webkit-linear-gradient(top,#d55b52 0%,#d12723 100%)!important;
    background-image: -moz-linear-gradient(top,#d55b52 0,#d12723 100%)!important;
    background-image: linear-gradient(to bottom,#d55b52 0,#d12723 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd55b52',endColorstr='#ffd12723',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon5 {
    background: #d54c7e!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#db5e8c),to(#ce3970))!important;
    background-image: -webkit-linear-gradient(top,#db5e8c 0%,#ce3970 100%)!important;
    background-image: -moz-linear-gradient(top,#db5e8c 0,#ce3970 100%)!important;
    background-image: linear-gradient(to bottom,#db5e8c 0,#ce3970 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb5e8c',endColorstr='#ffce3970',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon6 {
    background: #444!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#555),to(#333))!important;
    background-image: -webkit-linear-gradient(top,#555 0%,#333 100%)!important;
    background-image: -moz-linear-gradient(top,#555 0,#333 100%)!important;
    background-image: linear-gradient(to bottom,#555 0,#333 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555',endColorstr='#ff333333',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon7 {
    background: #fd5f01!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#ff971c),to(#fd5f01))!important;
    background-image: -webkit-linear-gradient(top,#ff971c 0% , #fd5f01 100%)!important;
    background-image: -moz-linear-gradient(top,#ff971c 0,#fd5f01 100%)!important;
    background-image: linear-gradient(to bottom,#ff971c 0,#fd5f01 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff971c',endColorstr='#fffd5f01',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon8 {
    background: #86b558!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#8ebf60),to(#7daa50))!important;
    background-image: -webkit-linear-gradient(top,#8ebf60 0%,#7daa50 100%)!important;
    background-image: -moz-linear-gradient(top,#8ebf60 0,#7daa50 100%)!important;
    background-image: linear-gradient(to bottom,#8ebf60 0,#7daa50 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ebf60',endColorstr='#ff7daa50',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon9 {
	background: #C0242A;
}
.slide_ThreeBox .dspAppB .dspAppB-icon10 {
    background: #fd5f01!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#ff971c),to(#fd5f01))!important;
    background-image: -webkit-linear-gradient(top,#ff971c 0% , #fd5f01 100%)!important;
    background-image: -moz-linear-gradient(top,#ff971c 0,#fd5f01 100%)!important;
    background-image: linear-gradient(to bottom,#ff971c 0,#fd5f01 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff971c',endColorstr='#fffd5f01',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon11 {
    background: #444!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#555),to(#333))!important;
    background-image: -webkit-linear-gradient(top,#555 0%,#333 100%)!important;
    background-image: -moz-linear-gradient(top,#555 0,#333 100%)!important;
    background-image: linear-gradient(to bottom,#555 0,#333 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555',endColorstr='#ff333333',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon12 {
    background: #d3413b!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#d55b52),to(#d12723))!important;
    background-image: -webkit-linear-gradient(top,#d55b52 0%,#d12723 100%)!important;
    background-image: -moz-linear-gradient(top,#d55b52 0,#d12723 100%)!important;
    background-image: linear-gradient(to bottom,#d55b52 0,#d12723 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd55b52',endColorstr='#ffd12723',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon13 {
    background: #2a8bcc!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#3b98d6),to(#197ec1))!important;
    background-image: -webkit-linear-gradient(top,#3b98d6 0% , #197ec1 100%)!important;
    background-image: -moz-linear-gradient(top,#3b98d6 0,#197ec1 100%)!important;
    background-image: linear-gradient(to bottom,#3b98d6 0,#197ec1 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b98d6',endColorstr='#ff197ec1',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon14 {
    background: #b4c2cc!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#bcc9d5),to(#abbac3))!important;
    background-image: -webkit-linear-gradient(top,#bcc9d5 0%,#abbac3 100%)!important;
    background-image: -moz-linear-gradient(top,#bcc9d5 0,#abbac3 100%)!important;
    background-image: linear-gradient(to bottom,#bcc9d5 0,#abbac3 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbcc9d5',endColorstr='#ffabbac3',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon15 {
    background: #9889c1!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#a696ce),to(#8a7cb4))!important;
    background-image: -webkit-linear-gradient(top,#a696ce 0%,#8a7cb4 100%)!important;
    background-image: -moz-linear-gradient(top,#a696ce 0,#8a7cb4 100%)!important;
    background-image: linear-gradient(to bottom,#a696ce 0,#8a7cb4 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa696ce',endColorstr='#ff8a7cb4',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon16 {
    background: #d3413b!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#d55b52),to(#d12723))!important;
    background-image: -webkit-linear-gradient(top,#d55b52 0%,#d12723 100%)!important;
    background-image: -moz-linear-gradient(top,#d55b52 0,#d12723 100%)!important;
    background-image: linear-gradient(to bottom,#d55b52 0,#d12723 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd55b52',endColorstr='#ffd12723',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon17 {
    background: #fd5f01!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#ff971c),to(#fd5f01))!important;
    background-image: -webkit-linear-gradient(top,#ff971c 0% , #fd5f01 100%)!important;
    background-image: -moz-linear-gradient(top,#ff971c 0,#fd5f01 100%)!important;
    background-image: linear-gradient(to bottom,#ff971c 0,#fd5f01 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff971c',endColorstr='#fffd5f01',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon18 {
    background: #444!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#555),to(#333))!important;
    background-image: -webkit-linear-gradient(top,#555 0%,#333 100%)!important;
    background-image: -moz-linear-gradient(top,#555 0,#333 100%)!important;
    background-image: linear-gradient(to bottom,#555 0,#333 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555',endColorstr='#ff333333',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon19 {
    background: #C0242A;
}
.slide_ThreeBox .dspAppB .dspAppB-icon20 {
    background: #86b558!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#8ebf60),to(#7daa50))!important;
    background-image: -webkit-linear-gradient(top,#8ebf60 0%,#7daa50 100%)!important;
    background-image: -moz-linear-gradient(top,#8ebf60 0,#7daa50 100%)!important;
    background-image: linear-gradient(to bottom,#8ebf60 0,#7daa50 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ebf60',endColorstr='#ff7daa50',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon21 {
    background: #d54c7e!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#db5e8c),to(#ce3970))!important;
    background-image: -webkit-linear-gradient(top,#db5e8c 0%,#ce3970 100%)!important;
    background-image: -moz-linear-gradient(top,#db5e8c 0,#ce3970 100%)!important;
    background-image: linear-gradient(to bottom,#db5e8c 0,#ce3970 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb5e8c',endColorstr='#ffce3970',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon22 {
    background: #b4c2cc!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#bcc9d5),to(#abbac3))!important;
    background-image: -webkit-linear-gradient(top,#bcc9d5 0%,#abbac3 100%)!important;
    background-image: -moz-linear-gradient(top,#bcc9d5 0,#abbac3 100%)!important;
    background-image: linear-gradient(to bottom,#bcc9d5 0,#abbac3 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbcc9d5',endColorstr='#ffabbac3',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon23 {
    background: #C0242A;
}
.slide_ThreeBox .dspAppB .dspAppB-icon24 {
    background: #444!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#555),to(#333))!important;
    background-image: -webkit-linear-gradient(top,#555 0%,#333 100%)!important;
    background-image: -moz-linear-gradient(top,#555 0,#333 100%)!important;
    background-image: linear-gradient(to bottom,#555 0,#333 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555',endColorstr='#ff333333',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon25 {
    background: #2a8bcc!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#3b98d6),to(#197ec1))!important;
    background-image: -webkit-linear-gradient(top,#3b98d6 0% , #197ec1 100%)!important;
    background-image: -moz-linear-gradient(top,#3b98d6 0,#197ec1 100%)!important;
    background-image: linear-gradient(to bottom,#3b98d6 0,#197ec1 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b98d6',endColorstr='#ff197ec1',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon26 {
    background: #fd5f01!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#ff971c),to(#fd5f01))!important;
    background-image: -webkit-linear-gradient(top,#ff971c 0% , #fd5f01 100%)!important;
    background-image: -moz-linear-gradient(top,#ff971c 0,#fd5f01 100%)!important;
    background-image: linear-gradient(to bottom,#ff971c 0,#fd5f01 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff971c',endColorstr='#fffd5f01',GradientType=0)!important;
}
.slide_ThreeBox .dspAppB .dspAppB-icon27 {
	background: url(../img/we8.png) no-repeat -580px -176px;
}
/*第四页*/

.slide_Four {
	background-color: white;
}
.slide_FourBox {
	width: 1010px;
	height: 540px;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.slide_FourBox .dspAppA {
	color: #e94b59;
	margin-top: 50px;
}
.slide_FourBox .dspAppkk {
	float: left;
	width: 135px;
	height: 180px;
	background-color: #f2f0f0;
	margin: 15px 32px 15px 0px;
	border-radius: 5px;
	position: relative;
}
.slide_FourBox .dspAppkk .front {
	width: 135px;
	height: 180px;
	position: absolute;
	z-index: 2;
	background-color: #f2f0f0;
	overflow: hidden;
	border-radius: 5px;
}
.slide_FourBox .dspAppkk .back {
	width: 0px;
	height: 180px;
	background-color: #f2f0f0;
	margin: 15px 32px 15px 0px;
	border-radius: 5px;
	position: absolute;
	top: -10px;
	left: 0px;
	line-height: 90px;
	z-index: 0;
	overflow: hidden;
}
.slide_FourBox .dspAppkk .back strong {
	color: #666;
	display: block;
	font-size: 20px;
	font-weight: 800;
}
.slide_FourBox .dspAppkk .back .back_btn {
	border-radius: inherit;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	height: 40px;
	text-align: center;
	width: 110px;
	background-color: #35b558;
	border: none;
}
.slide_FourBox .dspAppkk i {
	height: 85px;
	display: inline-block;
	margin: 10px auto;
	border-radius: 10px;
    font-style: normal;
    padding: 0 5px;
}
.slide_FourBox .dspAppkk span {
	width: 135px;
	height: 58px;
	display: inline-block;
	background-color: #5ebff6;
	border-radius: 0px 0px 5px 5px;
	line-height: 58px;
	padding: 8px 0px;
}
.slide_FourBox .dspAppkk em {
	width: 78px;
	height: 58px;
	display: inline-block;
	font-style: normal;
	color: black;
}
/*第五页*/

.slide_Five {
	background-color: #f2f0f0;
}
.slide_FiveBox {
	width: 1026px;
	height: 560px;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.slide_FiveBox .dspAppA {
	color: #e94b59;
	margin-top: 50px;
}
.slide_FiveBox .dspPosn {
	width: 1010px;
	height: 350px;
	margin-top: 20px;
	overflow: hidden;
}
.slide_FiveBox .dspPosn li {
	width: 290px;
	height: 290px;
	float: left;
	border-radius: 50%;
	margin: 30px 22px;
	position: relative;
	overflow: hidden;
	border: 1px solid #e4e3e3;
}
.slide_FiveBox .dspPosn .dspPosnA {
	background: url(../img/we36.jpg) no-repeat -54px -231px;
}
.slide_FiveBox .dspPosn .dspPosnB {
	background: url(../img/we35.jpg) no-repeat 2px -61px;
}
.slide_FiveBox .dspPosn .dspPosnC {
	background: url(../img/we34.jpg) no-repeat 8px -28px;
}
.slide_FiveBox .dspPosn .dspPosnD {
    background: url(../img/we33.jpg) no-repeat -48px  -61px;
}
.slide_FiveBox .dspPosn .dspPosnE {
    background: url(../img/we32.jpg) no-repeat 4px -61px;
}
.slide_FiveBox .dspPosn .dspPosnF {
    background: url(../img/we31.jpg) no-repeat 4px -61px;
}

.slide_FiveBox .dspPosn em {
	width: 228px;
	height: 56px;
	display: inline-block;
	text-align: center;
	line-height: 56px;
	background-color: #7d7d7d;
	position: absolute;
	bottom: -57px;
	left: 31px;
	font-style: normal;
	opacity: 0.9;
	color: white;
}
/*第六页*/

/*第七页*/
.slide_SevenBox{
    padding-top: 100px;
}
.Infornorepeat {
	background: url(../img/dspInfor.png) no-repeat;
}
.Infor_Five {
	background: white;
}
.Infor_Five h2 {
	color: #e94b59;
	margin-top: 60px;
}
.Infor_Fivep0 {
	height: 36px;
	line-height: 36px;
}
.Infor_FiveDiv {
	width: 1000px;
	position: relative;
}
.Infor_Fivebg {
	width: 0px;
	height: 218px;
	background-position: 0 -493px;
	margin-top: 93px;
	margin-left: 80px;
}
.Infor_Fivebg1 {
	position: absolute;
	left: 100px;
	top: -19px;
	width: 323px;
}
.Infor_Fivebg1 span {
	opacity: 0;
	width: 60px;
	height: 45px;
	background-position: -434px 0;
	float: left;
}
.Infor_Fivebg1 div {
	width: 250px;
	height: 0;
	overflow: hidden;
	float: left;
	margin-left: 10px;
	color: #0080c8;
}
.Infor_Fivebg1 div p {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
}
.Infor_Fivebg1 div p strong {
	font-size: 16px;
	font-weight: bold;
}
.Infor_Fivebg1 div ul li {
	float: left;
	line-height: 25px;
	font-size: 12px;
	padding-right: 29px;
	font-size: 14px;
}
.Infor_Fivespan1 {
	opacity: 1;
	-webkit-animation: fadeInLeft 1s .2s ease both;
	-moz-animation: fadeInLeft 1s .2s ease both;
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0)
	}
}
@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-20px)
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0)
	}
}
.Infor_Fivespan1top {
	-webkit-animation: fadeInDown 1s .2s ease both;
	-moz-animation: fadeInDown 1s .2s ease both;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0)
	}
}
@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px)
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0)
	}
}
.Infor_Fivespan1bottom {
	-webkit-animation: fadeInUp 1s .2s ease both;
	-moz-animation: fadeInUp 1s .2s ease both;
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0)
	}
}
@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px)
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0)
	}
}
.Infor_Fivebg2 {
	position: absolute;
	left: 90px;
	top: 80px;
	width: 323px;
}
.Infor_Fivebg2 span {
	opacity: 0;
	display: block;
	width: 60px;
	height: 45px;
	background-position: -626px 0;
	float: left;
}
.Infor_Fivebg2 div {
	clear: both;
	width: 250px;
	height: 0;
	overflow: hidden;
	float: left;
	margin-left: 10px;
	color: #ff6000;
}
.Infor_Fivebg2 div p {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
}
.Infor_Fivebg2 div p strong {
	font-size: 16px;
	font-weight: bold;
}
.Infor_Fivebg2 div ul li {
	float: left;
	line-height: 25px;
	font-size: 12px;
	text-align: left;
	width: 90px;
	font-size: 14px;
}
.Infor_Fivebg3 {
	position: absolute;
	left: 439px;
	top: 0px;
	width: 260px;
}
.Infor_Fivebg3 span {
	opacity: 0;
	display: block;
	width: 50px;
	height: 45px;
	background-position: -500px 0;
	float: left;
}
.Infor_Fivebg3 div {
	width: 185px;
	height: 0;
	overflow: hidden;
	float: left;
	margin-left: 10px;
	color: #9ac600;
}
.Infor_Fivebg3 div p {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
}
.Infor_Fivebg3 div p strong {
	font-size: 16px;
	font-weight: bold;
}
.Infor_Fivebg3 div ul li {
	float: left;
	line-height: 25px;
	font-size: 12px;
	text-align: left;
	width: 90px;
	font-size: 14px;
}
.Infor_Fivebg4 {
	position: absolute;
	right: 22px;
	top: 66px;
	width: 250px;
}
.Infor_Fivebg4 span {
	opacity: 0;
	display: block;
	width: 50px;
	height: 45px;
	background-position: -565px 0;
	float: left;
}
.Infor_Fivebg4 div {
	width: 257px;
	height: 0;
	overflow: hidden;
	float: left;
	margin-left: 10px;
	color: #ba0202;
}
.Infor_Fivebg4 p {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 42px;
	float: left;
	margin-left: 15px;
	display: inline;
}
.Infor_Fivebg4 p strong {
	font-size: 16px;
	font-weight: bold;
}
.Infor_Fivebg4 ul {
	clear: both;
}
.Infor_Fivebg4 ul li {
	float: left;
	line-height: 25px;
	font-size: 12px;
	text-align: left;
	width: 82px;
	font-size: 14px;
}
.slide_Seven .slidefter {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	height: 82px;
	background: #ba0013;
	width: 100%;
	color: white;
}
.slide_Seven .slidefter p {
	font-size: 20px;
	line-height: 25px;
	padding-top: 30px;
}
.Infor_Fivespan1bottom{
    -webkit-animation:flip 1s .2s ease infinite;
    -moz-animation:flip 1s .2s ease infinite;
}
@-webkit-keyframes flip{

    0%{
        -webkit-transform:translateY(0px);
        -webkit-animation-timing-function:ease-out
    }
    50%{
        -webkit-transform:translateY(6px);
        -webkit-animation-timing-function:ease-in
    }
    100%{
        -webkit-transform:translateY(0px);
        -webkit-animation-timing-function:ease-in
    }

}
@-moz-keyframes flip{
    0%{
        -webkit-transform:translateY(0px);
        -webkit-animation-timing-function:ease-out
    }
    50%{
        -webkit-transform:translateY(6px);
        -webkit-animation-timing-function:ease-in
    }
    100%{
        -webkit-transform:translateY(0px);
        -webkit-animation-timing-function:ease-in
    }
}
.Infor_Fivespan1bottomleft{
-webkit-animation:bounceInLeft 1s .2s ease both;
-moz-animation:bounceInLeft 1s .2s ease both;}
@-webkit-keyframes bounceInLeft{
0%{opacity:0;
-webkit-transform:translateX(-2000px)}
60%{opacity:1;
-webkit-transform:translateX(30px)}
80%{-webkit-transform:translateX(-10px)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes bounceInLeft{
0%{opacity:0;
-moz-transform:translateX(-2000px)}
60%{opacity:1;
-moz-transform:translateX(30px)}
80%{-moz-transform:translateX(-10px)}
100%{-moz-transform:translateX(0)}
}
.Infor_Fivespan1bottomdown{
-webkit-animation:bounceInDown 1s .2s ease both;
-moz-animation:bounceInDown 1s .2s ease both;}
@-webkit-keyframes bounceInDown{
0%{opacity:0;
-webkit-transform:translateY(-2000px)}
60%{opacity:1;
-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes bounceInDown{
0%{opacity:0;
-moz-transform:translateY(-2000px)}
60%{opacity:1;
-moz-transform:translateY(30px)}
80%{-moz-transform:translateY(-10px)}
100%{-moz-transform:translateY(0)}
}
.Infor_Fivespan1bottomright{
-webkit-animation:bounceInRight 1s .2s ease both;
-moz-animation:bounceInRight 1s .2s ease both;}
@-webkit-keyframes bounceInRight{
0%{opacity:0;
-webkit-transform:translateX(2000px)}
60%{opacity:1;
-webkit-transform:translateX(-30px)}
80%{-webkit-transform:translateX(10px)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes bounceInRight{
0%{opacity:0;
-moz-transform:translateX(2000px)}
60%{opacity:1;
-moz-transform:translateX(-30px)}
80%{-moz-transform:translateX(10px)}
100%{-moz-transform:translateX(0)}
}
.Infor_Fivespan1bottom2{
-webkit-animation:tada 1s .2s ease both;
-moz-animation:tada 1s .2s ease both;}
@-webkit-keyframes tada{
0%{-webkit-transform:scale(1)}
10%,20%{-webkit-transform:scale(0.9) rotate(-3deg)}
30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg)}
40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg)}
100%{-webkit-transform:scale(1) rotate(0)}
}
@-moz-keyframes tada{
0%{-moz-transform:scale(1)}
10%,20%{-moz-transform:scale(0.9) rotate(-3deg)}
30%,50%,70%,90%{-moz-transform:scale(1.1) rotate(3deg)}
40%,60%,80%{-moz-transform:scale(1.1) rotate(-3deg)}
100%{-moz-transform:scale(1) rotate(0)}
}